:root {
  --border-width: 0.4rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.heading {
  position: absolute;
  display: block;
  top: -15rem;
  font-size: 3rem;
  width: 100%;
  min-width: 23rem;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.game-btn {
  position: absolute;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: none;
  -webkit-transition: color, background-color 1s;
  -o-transition: color, background-color 1s;
  transition: color, background-color 1s;
  -webkit-box-shadow: 0 0 2.5rem 0.2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2.5rem 0.2rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background-color: #fff;
  left: 50%;
  top: -10rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
}

.game-btn:hover {
  background-color: #000;
  color: #fff;
}

.section-game {
  height: 100vh;
  min-height: 89rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 2rem;
}

.game-main {
  position: relative;
  max-width: 55rem;
  width: 100%;
  max-height: 55rem;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.2);
}

.game-main > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.game-main > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.game-main > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.game-main > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.game-main > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.game-main > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.game-main > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.game-main > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.game-main > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.box {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.sqr-1 {
  border-right: var(--border-width) black solid;
  border-bottom: var(--border-width) black solid;
}

.sqr-2 {
  border-left: var(--border-width) black solid;
  border-right: var(--border-width) black solid;
  border-bottom: var(--border-width) black solid;
}

.sqr-3 {
  border-left: var(--border-width) black solid;
  border-bottom: var(--border-width) black solid;
}

.sqr-4 {
  border-top: var(--border-width) black solid;
  border-right: var(--border-width) black solid;
  border-bottom: var(--border-width) black solid;
}

.sqr-5 {
  border: var(--border-width) black solid;
}

.sqr-6 {
  border-top: var(--border-width) black solid;
  border-left: var(--border-width) black solid;
  border-bottom: var(--border-width) black solid;
}

.sqr-7 {
  border-top: var(--border-width) black solid;
  border-right: var(--border-width) black solid;
}

.sqr-8 {
  border-top: var(--border-width) black solid;
  border-right: var(--border-width) black solid;
  border-left: var(--border-width) black solid;
}

.sqr-9 {
  border-top: var(--border-width) black solid;
  border-left: var(--border-width) black solid;
}

.icons {
  pointer-events: none;
  max-width: 17rem;
  width: 100%;
  max-height: 17rem;
  height: 100%;
}

.line-main {
  width: 100%;
  height: 1rem;
  background-color: red;
  position: absolute;
  z-index: 99;
}

.line90 {
  transform: rotate(90deg);
}

.line45 {
  width: 150%;
  transform: rotate(45deg);
}

.line-45 {
  width: 150%;
  transform: rotate(-45deg);
}